h4 {
    color: blue;
}
#form {
    margin: auto;
    max-width: 700px;
    padding: 10px;
}
#my_form {
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 600px;
    padding: 10px;
}